/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
}
body{
  margin:100px !important;
}

.toggle-children{
  background: url("assets/folder-icon.svg") !important;
}

.toggle-children-wrapper-expanded .toggle-children {
  background: url("assets/folder-open-icon.svg") !important;
  transform: none !important;
}

.toggle-children-placeholder{
  background: url("assets/file-icon.svg") !important;
}
